/*Vertical Cards*/
/*==============*/
.vertical-card {
    max-height: 45vh;
    margin-bottom: 3vh;
}

.vertical-card-radio {
    padding: 4px;
    max-height: 190px;
    margin-bottom: 25px;
}

.card-top {
    max-height: 35vh;
    margin-bottom: 10px;
}

.vertical-card-img {
    width: 100%;
    height: 30vh;
    max-height: 30vh;
}

.card-bottom {
    max-height: 15vh;
    margin-bottom: 10px;
    padding: 0 8px;
}

.card-bottom header {
    height: 5vh;
}

.card-bottom footer {
    height: 5vh;
}

.vertical-card-title {
    font-size: medium;
    height: 5vh;
    margin-bottom: 2px;
}

.card-story-date {
    font-size: small;
    height: 3vh;
    margin-bottom: 2px;
}

.card-story-author {
    font-size: smaller;
    height: 2vh;
    margin-bottom: 2px;
}

/*Horizontal Cards*/
/*==============*/
.horizontal-card {
    height: 14vh;
    margin-top: 3vh;
}

.horizontal-card-right {
    padding: 4px 0;
}

.horizontal-card-img {
    width: 100%;
    height: 14vh;
}

.horizontal-card-title {
    font-size: medium;
    height: 48px;
    margin-bottom: 2px;
}

/*Media Queries*/
/*==============*/
@media only screen and (max-width: 480px) {
    .vertical-card {
        max-height: 50vh;
        height: auto;
        margin-bottom: 12px;
    }

    .vertical-card-img{
        height: 35vh;
    }

    .vertical-card-title {
        font-size: small;
        height: auto;
        margin-bottom: 2px;
    }

    .card-story-date {
        height: auto;
    }

    .card-story-author {
        height: auto;
    }

    .card-bottom {
        height: 100px;
    }

    .card-bottom header {
        height: auto;
        line-height: 80%;
    }
}

@media only screen and (min-width: 768px) {
    .vertical-card-img{
        height: 25vh;
    }
}